<section class="footer" id="footer">
    <div class="wrap">
        <div class="container">
            <div class="logo_rrss">
                <img class="logo" src="/assets/logos/logo.png" alt="">
                <div class="contact">
                    <div class="group">
                        <h4>Email</h4>
                        <a href="mailto:mpoveda.psicologia&#64;gmail.com" title="Enviar correo a María Poveda">
                          mpoveda.psicologia&#64;gmail.com
                        </a>
                    </div>

                    <div class="group">
                        <h4>Teléfono</h4>
                        <a href="tel:+34694237552" title="Llamar a María Poveda">
                          +34 694 237 552
                        </a>
                    </div>

                    <div class="group">
                        <h4>Whatsapp</h4>
                         <a href="https://wa.me/34694237552?text=Hola María,%20me%20gustaría%20conocer%20más%20información%20sobre%20tus%20servicios."  target="_blank" title="Enviar mensaje por WhatsApp">
                           +34 694 237 552
                        </a>
                    </div>

                    <p class="caption">Horario de atención: 9:00am - 20:00pm</p>
                </div>

                <div class="rrss">
                    <a class="linkedin" href="https://www.linkedin.com/in/mpovedac/" target="_blank"></a>
                    <a class="whatsapp" href="https://wa.me/34694237552?text=Hola María,%20me%20gustaría%20conocer%20más%20información%20sobre%20tus%20servicios." target="_blank"></a>
                </div>
                <p class="caption">&copy; 2024 Víctor Fernández | Vicbolt. Todos los derechos reservados.</p>

            </div>

            <div class="quicklinks">
                <h4>Enlaces Rápidos</h4>
                <a href="#hero">Inicio</a>
                <a href="#aboutme">Sobre Mí</a>
                <a href="#services">Servicios</a>
                <a href="#faq">Preguntas Frecuentes</a>
                <a href="#form">Contacto</a>
            </div>

            <div class="policy">
                <h4>Política y Legalidad</h4>
                <a>Aviso Legal</a>
                <a>Política de Privacidad</a>
                <a>Política de Cookies</a>
            </div>

            <div class="books">
                <h4>Lecturas recomendadas</h4>
                <a>"El poder del ahora" de Eckhart Tolle</a>
                <a>"Inteligencia emocional" de Daniel Goleman</a>
                <a>"Mindfulness en la vida cotidiana" de Jon Kabat-Zinn</a>
                <a>"El hombre en busca de sentido" de Viktor Frankl</a>
                <a>"Pensar rápido, pensar despacio" de Daniel Kahneman</a>

            </div>
        </div>
    </div>
</section>