<section class="navbar" id="navbar">
    <div class="wrap">
        <div class="container">

            <div class="logo">
                <div class="img">
                    <img src="/assets/logos/logo.png" alt="Logo">

                </div>
            </div>

            <div class="links">
                <a class="link" href="#aboutme">Sobre Mí</a>
                <a class="link" href="#therapy">Terapia</a>
                <a class="link" href="#services">Servicios</a>
                <a class="link" href="#faq">FAQ's</a>
                <a class="link btn"> <img src="/assets/icons/phone.png" alt="Icono teléfono móvil"> 694 237 552</a>
            </div>

        </div>
    </div>
</section>
