@import '../../../variables';

.navbar{
    height: 50px;
    width: 100%;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $c-white;
        border-radius: $br-20;
        box-shadow: $bs-main;
        padding: 7px 30px;

        img{
            width: 35%;
        }

        .links{
            width: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a{
                margin-bottom: 0 !important;
            }

            .btn{
                padding: 5px 10px 5px 10px;
                border-radius: $br-20;
                border: 1px solid $c-main-darken;
                color: $c-main-darken;
                display: flex;
                align-items: center;

                img{
                    width: 12px;
                    height: 12px;
                    margin-right: 5px;
                }
            }
        }
    }
}