@import '../../../variables';

.navbar{
    height: 50px;
    width: 100%;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $c-white;
        border-radius: $br-20;
        box-shadow: $bs-main;
        padding: 7px 30px;

        img{
            width: 50%;
        }

        .links{
            width: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .btn{
                padding: 5px 10px 5px 10px;
                border-radius: $br-20;
                border: 1px solid $c-main-darken;
                color: $c-main-darken;
            }
        }
    }
}