<section class="navbar">
    <div class="wrap">
        <div class="container">

            <div class="logo">
                <div class="img">
                    <img src="/assets/logos/logo.png" alt="Logo">

                </div>
            </div>

            <div class="links">
                <p class="link">Sobre Mí</p>
                <p class="link">Terapia</p>
                <p class="link">Servicios</p>
                <p class="link">FAQ's</p>
                <p class="link btn">694 237 552</p>
            </div>

        </div>
    </div>
</section>
