<section class="hero" id="hero">
    <app-navbar></app-navbar>
    <div class="wrap">

        <div class="container">
            <div class="left">
                <h1>María Poveda Corvillo</h1>
                <h2>Psicóloga especializada en igualdad y violencia de género, emociones y tratamiento de trauma con EMDR. <br> Acompañamiento profesional personalizado, en un espacio seguro, basado en la confianza y la confidencialidad, para ayudarte a sanar y que logres vivir con mayor plenitud y equilibrio..</h2>
                <div class="ctas">
                    <a class="btn primary" href="#form">
                        <p>Reservar Consulta</p>
                    </a>
                    <a class="btn secondary" href="#aboutme">
                        <p>Conóceme más</p>
                    </a>
                </div>
            </div>

            <div class="right">
                <img src="/assets/pics/maria_hero-min.png" alt="Fotografía de María mirando hacia el frente">
            </div>
        </div>
    </div>
</section>
