<section class="hero" id="hero">
    <app-navbar></app-navbar>
    <div class="wrap">

        <div class="container">
            <div class="left">
                <h1>Psicóloga María Poveda</h1>
                <h2>Especializada en terapia EMDR y tratamiento de traumas, ofrezco un enfoque personalizado para ayudarte a sanar y recuperar tu bienestar emocional. Mi objetivo es guiarte hacia una vida más equilibrada y plena.</h2>
                <div class="ctas">
                    <a class="btn primary" href="#form">
                        <p>Reservar Consulta</p>
                    </a>
                    <a class="btn secondary" href="#aboutme">
                        <p>Conóceme más</p>
                    </a>
                </div>
            </div>

            <div class="right">
                <img src="/assets/pics/mariaHero.png" alt="Fotografía de María mirando hacia el frente">
            </div>
        </div>
    </div>
</section>
