<section class="tools">
    <div class="wrap">
        <h3>Aprende un ejercicio de relajación</h3>
        <div class="container">
            <div class="left">
                <div class="img"></div>
                <div class="audio">
                    <audio controls>
                        <source src="/assets/audios/breath_tool.mp3" type="audio/mpeg">
                        Tu navegador no soporta el elemento de audio.
                    </audio>
                </div>
            </div>
            <div class="right">
                <h4>Encuentra un Lugar Cómodo</h4>
                <p class="caption">Siéntate o acuéstate en un lugar tranquilo. Relaja tus hombros y, si te ayuda, cierra los ojos para concentrarte mejor en tu respiración.</p>
            
                <h4>Siente el movimiento</h4>
                <p class="caption">Coloca una mano sobre tu pecho y la otra justo debajo de tus costillas. Al respirar, la mano en tu abdomen debería moverse más que la mano en tu pecho.</p>
            
                <h4>Inhala Profundamente</h4>
                <p class="caption">Inhala lenta y profundamente por la nariz durante aproximadamente 4 segundos. Mientras lo haces, concéntrate en expandir la parte inferior de tu abdomen, justo por encima de tu ombligo.</p>
            
                <h4>Exhala Lentamente</h4>
                <p class="caption">Exhala suavemente por la boca durante 6 segundos. La exhalación debe ser controlada y un poco más larga que la inhalación, lo que ayuda a profundizar la relajación.</p>
            
                <h4>Repite y Mantén un Ritmo Relajado</h4>
                <p class="caption">Repite este ciclo de respiración durante unos 5 a 10 minutos. Puedes ajustar el tiempo de inhalación y exhalación según lo que te resulte cómodo, pero trata de mantener la exhalación más larga que la inhalación. A medida que practicas, te sentirás más relajado y conectado con tu respiración.</p>
            </div>
        </div>
    </div>
</section>