<section class="aboutme">
    <div class="wrap">
        <div class="container1">
            <div class="left">
                <video src="/assets/videos/aboutme.mp4"></video>
            </div>
            <div class="right">
                <h3>Sobre Mí</h3>
                <p>Hola, soy María Poveda Corvillo. </p> 
                <p>Soy psicóloga general sanitaria y me dedico a la atención psicológica con un enfoque especializado en perspectiva de género.
                <p>Mi pasión es acompañar a personas de todas las edades en su viaje hacia el bienestar emocional y relacional. 
                <p>Con años de experiencia en terapia, tanto en persona como a través de teleasistencia, he tenido el privilegio de trabajar en situaciones de riesgo y en la sensibilización sobre temas de igualdad.
                <p>Mi objetivo es ofrecerte un espacio seguro y empático donde puedas explorar tus emociones y encontrar el equilibrio que buscas.</p>
            </div>
        </div>

        <div class="container2">
            <div class="left">
                <h3>Trayectoria profesional</h3>
                <div class="element">
                    <h4>Psicóloga en el Servicio público de Teleasistencia del Ayuntamiento de Madrid</h4>
                    <p class="caption">Tunstall Televida</p>
                </div>

                <div class="element">
                    <h4>Psicóloga en consulta privada</h4>
                    <p class="caption">Psytel Instituto de Psicología & Sexología</p>
                </div>

                <div class="element">
                    <h4>Psicóloga en el Centro Municipal de Mujer e Igualdad de Getafe </h4>
                    <p class="caption">ALEF Ayuntamiento de Getafe</p>
                </div>

                <div class="element">
                    <h4>Formadora en género</h4>
                    <p class="caption">Espacio de Igualdad DELFO Formación y desarrollo laboral de Madrid</p>
                </div>

                <div class="element">
                    <h4>Monitora de talleres</h4>
                    <p class="caption">Cruz Roja Española, Madrid </p>
                </div>
            </div>
            <div class="right">
                <h3>Formación</h3>

                <div class="element">
                    <h4>Máster Universitario en Psicología General Sanitaria</h4>
                    <p class="caption">Universidad Internacional de la Rioja (UNIR)</p>
                </div>

                <div class="element">
                    <h4>Máster Universitario en Estudios Interdisciplinares de Género</h4>
                    <p class="caption">Universidad Autónoma de Madrid</p>
                </div>

            </div>
        </div>
    </div>
</section>