<section class="aboutme" id="aboutme">
  <div class="wrap">
    <div class="container1">
      <div class="left">
        <video controls src="/assets/videos/aboutme.mp4"></video>
      </div>
      <div class="right">
        <h3>Sobre Mí</h3>
        <p>¡Hola! Soy Maria,</p>
        <p>
          Soy psicóloga y me gradué en la Universidad Autónoma de Madrid, donde
          también estudié un Máster en Estudios de género, lo cual me permite
          abordar la intervención desde una perspectiva que integra lo qué
          significa crecer y vivir como mujeres y hombres en nuestra sociedad.
        </p>
        <p>
          Posteriormente estudié el máster en Psicología General Sanitaria y
          realicé una Especialización en Psicología Clínica e Intervención en
          Trauma con EMDR, ya que considero que es una gran herramienta
          terapéutica para trabajar las heridas arraigadas en experiencias
          pasadas. Además, he participado en otros cursos y seminarios sobre
          violencia de género, apego, maltrato, suicidio resolución de
          conflictos…
        </p>
        <p>
          He trabajado como psicóloga en varias instituciones públicas,
          atendiendo a gran diversidad de personas, cada una con sus propias
          vivencias, circunstancias y necesidades. En mi opinión la ayuda
          psicológica debe de adaptarse siempre a la persona y no al revés,
          por lo que trabajo desde un enfoque integrador, lo cual me permite
          combinar herramientas de distintas corrientes psicológicas basadas en
          la evidencia científica más actual. Como la psicología además de ser
          mi profesión, es mi pasión me mantengo actualizada en los avances que
          se realizan en el campo realizando distinto tipo de prácticas y
          formaciones.
        </p>
        <p>
          Creo firmemente en la importancia de seguir un enfoque humano, donde
          la empatía, el respeto y el cuidado sean la base de cada sesión. Mi
          objetivo es proporcionarte un espacio seguro y sin juicios donde
          puedas expresar tus inquietudes y avanzar a tu propio ritmo hacia el
          bienestar emocional. ¿Te animas a saber más?
        </p>

        <div class="formacion">
          <h3>Formación</h3>

          <div class="element">
            <h4>
              Experto en Psicología Clínica e Intervención en trauma con EMDR
            </h4>
            <p class="caption">
              Sociedad Española de Medicina Psicosomática y Psicoterapia
            </p>
          </div>

          <div class="element">
            <h4>Máster Universitario en Psicología General Sanitaria</h4>
            <p class="caption">Universidad Internacional de la Rioja</p>
          </div>

          <div class="element">
            <h4>
              Máster Universitario en Estudios Interdisciplinares de Género
            </h4>
            <p class="caption">Universidad Autónoma de Madrid</p>
          </div>

          <div class="element">
            <h4>Grado en Psicología</h4>
            <p class="caption">Universidad Autónoma de Madrid</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
