<section class="therapy">
  <div class="container" id="container">
    <h3>¿Cómo te puede ayudar la terapia?</h3>

    <div class="grid-slider">
      <div #gridContainer class="grid-container">
        <div class="grid-item i1" style="grid-column: span 2; grid-row: span 2">
          <div class="card-inner">
            <div class="card-front">
              <h3>No paro de preocuparme por todo.</h3>
            </div>
            <div class="card-back">
                <h4>Ansiedad Generalizada</h4>
                <p class="caption">Las personas que experimentan ansiedad generalizada tienden a sentir que no pueden controlar sus preocupaciones, lo que puede causarles malestar significativo y afectar su bienestar diario</p>
            </div>
          </div>
        </div>
        <div class="grid-item i2" style="grid-column: span 1; grid-row: span 3">
            <div class="card-inner">
                <div class="card-front">
                    <h3>Nada me alegra, todo parece triste</h3>
                </div>
                <div class="card-back">
                    <h4>Depresión</h4>
                    <p class="caption"> Es como si el mundo estuviera cubierto por un filtro gris, haciendo que incluso los momentos positivos parezcan apagados y sin brillo. </p>
                </div>
              </div>
          
        </div>
        <div class="grid-item i3" style="grid-column: span 2; grid-row: span 2">
          <h3>No puedo dejar de usar sustancias o comportamientos dañinos.</h3>
        </div>
        <div
          class="grid-item i4"
          style="grid-column: span 1; grid-row: span 1"
        ></div>
        <div class="grid-item i5" style="grid-column: span 1; grid-row: span 2">
            <div class="card-inner">
                <div class="card-front">
                  <h3>La comida manda sobre mí.</h3>
                </div>
                <div class="card-back">
                    <h4>Trastorno Alimentario</h4>
                    <p class="caption">Puede manifestarse como un deseo incontrolable de comer en exceso, recurrir a la comida como forma de lidiar con el estrés o sentir que no se puede controlar el comportamiento alimentario.</p>
                </div>
              </div>
        </div>
        <div
          class="grid-item i6"
          style="grid-column: span 1; grid-row: span 1"
        ></div>
        <div class="grid-item i7" style="grid-column: span 1; grid-row: span 2">
          <h3>Mis relaciones son intensas y complicadas</h3>
        </div>
        <div class="grid-item i8" style="grid-column: span 1; grid-row: span 2">
          <h3>Mis emociones suben y bajan sin control</h3>
        </div>
        <div class="grid-item i9" style="grid-column: span 1; grid-row: span 2">
          <h3>Cada día es un desafío</h3>
        </div>
        <div
          class="grid-item i10"
          style="grid-column: span 1; grid-row: span 2"
        >
          <h3>No me da la vida</h3>
        </div>
        <div
          class="grid-item i11"
          style="grid-column: span 1; grid-row: span 1"
        ></div>
        <div
          class="grid-item i12"
          style="grid-column: span 1; grid-row: span 1"
        ></div>
      </div>
    </div>
  </div>

  <div class="wrap slider-btns">
    <button class="prev">
      <img src="/assets/icons/prev.png" alt="Flecha hacia la izquierda" />
    </button>
    <button class="next">
      <img src="/assets/icons/next.png" alt="Flecha hacia la derecha" />
    </button>
  </div>
</section>
