<section class="services">
    <div class="wrap">
        <div class="container">
            <h3>Mis Servicios</h3>
            <div class="boxes">
                <div class="box">
                    <h3>Contacto Inicial</h3>
                    <p>Llamada telefónica de aproximadamente 15 minutos para que puedas conocerme mejor y ver si te puedo ayudar.</p>
                    <h4>GRATIS SIN COMPROMISO</h4>
                    <a class="btn primary">
                        <p>Reservar Cita</p>
                    </a>
                </div>
                <div class="box">
                    <h3>Terapia Online</h3>
                    <p>Sesión individual de 60min</p>
                    <p class="price">39<span>€</span></p>
                    <a class="btn primary">
                        <p>Reservar Cita</p>
                    </a>

                </div>
                <div class="box">
                    <h3>Bono Terapia Online</h3>
                    <p>10 sesiones de 60 minutos</p>
                    <p class="price">35<span>€/sesión</span> </p>
                    <a class="btn primary">
                        <p>Reservar Cita</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>