@import '../../../variables';

.services{
    margin-top: 70px;
    .container{
        @media (max-width: 1200px){
            text-align: center;
        }
        .boxes{
            display: flex;
            justify-content: space-between;

            @media (max-width: 1200px){
                flex-direction: column;
            }

            .box{
                padding: 40px 20px;
                width: 33%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                border-radius: $br-20;
                box-shadow: $bs-main;
                text-align: center;

                @media (max-width: 1200px){
                    width: 100%;
                    margin-bottom: 30px;
                }
    

                h4{
                    margin-top: 15px;
                }

                & p{
                    line-height: 1.2rem;
                }

                & .price{
                    font-size: 35px;
                    font-weight: 300;
                    font-family: $ff-deco;
                    margin: 20px 0px;

                    & span{
                    font-size: 17px;
                    }
                }

                .btn{
                    &.primary{
                        margin-top: 30px !important;
                    }
                }
            }
        }
    }
}