$c-main: #3498db;
$c-main-darken: #94A68B;
$c-main-lighter: #94A68B;


$c-sec-main: #2ecc71;
$c-sec-darken: #2ecc71;
$c-sec-lighter: #2ecc71;



$c-white: white;
$c-black: #3A3A3C;


$tc-dark: #3A3A3C;
$tc-medium: #767a78;
$tc-light: #9aa09d;

$ff-deco: 'FiftyHolliwing', sans-serif !important;


$br-20: 20px; 
$bs-color: #61616116;
$bs-main: 5px 5px 5px $bs-color;


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
